 /* 导航栏 */
.navbar {
    position: absolute;
    top: 100px;
    margin-left: 120px;
    width: 85%;
    padding: 30px 80px;
    background: rgba(0,163,233,0.95);
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    transition: 0.3s;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
}


